coverage==7.6.1
imutils==0.5.4
numpy==2.1.0rc1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pylint==3.2.6
pytest==8.3.2
pytest-asyncio==0.24.0a1
pytest-timeout==2.3.1
pytest_httpserver==1.1.0
PyYAML==6.0.2
tqdm==4.66.5
vidgear==0.3.3
pyzmq==26.2.0